.data-table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 16px Arial, sans-serif;
}
.data-table thead th {
	font-size: 24px;
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.data-table tfoot td {
	font-size: 12px;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
}
.data-table tbody td {
  border: solid 1px #DDEEEE;
  border-left: none;
  border-right: none;
  color: #333;
  padding: 10px;
}
.data-table tbody td p {
	margin: 6px 0px;
}
.data-table tbody tr:hover {
    background-color: #CCE7E7;
}

.logo {
	max-width: 100px;
	max-height: 60px;
	width: auto;
	height: auto;
	margin-right: 10px;
}

.company-info-text {
	display: inline-block;
	margin-left: 12px;
}